.font-baloo {
    font-family: 'Baloo 2', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-color-white {
    color: white;
}

.font-color-gray {
    color: #525459;
}

.font-color-orange {
    color: #D13201;
}

.font-bold {
    font-weight: bold;
}


.font-size-1 {
	font-size: 24px;
}

.font-size-2 {
    font-size: 14px;
}
