h2.MuiTypography-h6 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

span.MuiTypography-body1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #525459;
}

label.MuiFormLabel-root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #525459;
}

div.makeStyles-profilePicture-5 {
    border: none;
}

div.MuiPaper-rounded {
    border-radius: 1rem;
}

.imgProduct {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index:0
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(177.64deg, rgba(18, 18, 18, 0.2) 1.98%, rgba(18, 18, 18, 0.8) 98.3%); */
    box-sizing: border-box;
    border-radius: 16px;
    width: 250px;
    height: 250px;
    border-color: transparent;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.iconUpload {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index:1;
}

.labelInputImg {
    color: white;
    background-color: rgba(105, 102, 102, 0.185);
    font-weight: 600;
    font-size: 16px;
    text-align:center;
    position: absolute;
    bottom: 20px;
    z-index: 3;
}